html, body, .gameScreen {
  height: 100%; }

html, body {
  background-color: #00081A;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: block; }

.bgScreen,
.gameScreen {
  margin: auto; }

.bgScreen {
  position: relative;
  max-width: 1536px;
  max-height: 576px;
  height: 100%; }

.background {
  position: absolute;
  width: 1536px;
  height: 576px;
  background-color: #183048;
  background-color: #336699;
  background-image: url(/pod/afFannyTheFantom/res/bgHex-x768.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  left: 50%;
  top: 50%;
  margin-left: -768px;
  margin-top: -288px; }

.bigFanny {
  position: absolute;
  top: 50px;
  left: 0;
  width: 360px;
  height: 360px;
  background-image: url(/pod/afFannyTheFantom/res/fanny-x180.png);
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.logoFanny {
  position: absolute;
  top: -70px;
  right: 208px;
  width: 818px;
  height: 396px;
  background-image: url(/pod/afFannyTheFantom/res/logo-fanny.png);
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.logoThe {
  position: absolute;
  top: 50px;
  right: 326px;
  width: 390px;
  height: 338px;
  background-image: url(/pod/afFannyTheFantom/res/logo-the.png);
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.logoFantom {
  position: absolute;
  top: 120px;
  right: -88px;
  width: 904px;
  height: 394px;
  background-image: url(/pod/afFannyTheFantom/res/logo-fantom.png);
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 1536px;
  height: 576px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACAQMAAABIeJ9nAAAABlBMVEUAAAAYGBgmJUsIAAAAAXRSTlMAQObYZgAAAAxJREFUCNdjcGA4AAABhAEB21yPDwAAAABJRU5ErkJggg==);
  background-repeat: repeat; }

.gameScreen {
  position: relative;
  max-width: 1536px;
  max-height: 576px;
  height: 100%; }

.game {
  box-sizing: content-box;
  position: absolute;
  top: -50%;
  left: 50%;
  margin-top: -144px;
  margin-left: -384px;
  width: 768px;
  height: 288px;
  border: 8px solid #000; }

.fantomLink {
  text-decoration: none;
  position: absolute;
  bottom: 10px;
  left: 10px; }

.alienLink {
  text-decoration: none;
  position: absolute;
  bottom: 10px;
  right: 10px; }
